
node_modules/


dist/

.env
.env.local
.env.development
.env.production

logs
*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/# Dependencies
node_modules/

dist/


.env
.env.local
.env.development
.env.production


logs
*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/